#temporary ignore local project files
versand
orders
manuals
display
controller
cad
notes.md
calc-speed.ods

#build files
*.o
*.elf
*.hex
*.map
/build
*.as

#vim
*~
*.swp
*.swo

*.bak

*.log
*.aux

*_autosave*

*.ps
*.tmp
*.pho

*.nav
*.out
*.snm
*.toc
*.vrb
*.bbl
*.blg
*.idx

#kicad
**/*-backups/*.zip
\#auto_saved_files\#
*.lck

#drawio
*.bkp
